.header-wrapper{
    display: flex;
    justify-content: space-between;
}
.header-wrapper ul{
display: flex;
}
.header-wrapper ul li{
list-style-type: none;
padding: 5px;
}

.header-wrapper ul li a{
text-decoration: none;
}
